/* Connectionmexicoglobal Website */

html,
body {
	background: #fff;
	font-style: normal;
  font-family: 'Klavika';
}

/* Fonts */

@font-face {
   font-family: 'Klavika';
   src: url('../fonts/Klavika-Regular.otf');
   src: url('../fonts/Klavika-Regular.otf#iefix') format('embedded-opentype'),
     url('../fonts/Klavika-Regular.otf') format('woff'),
     url('../fonts/Klavika-Regular.otf') format('truetype'),
     url('../fonts/Klavika-Regular.otf#Klavika-Regular') format('svg');
   font-weight: normal;
   font-style: normal;
}

@font-face{
	font-family: 'Klavika';
	src: url('../fonts/Klavika-Bold.otf');
	src: url('../fonts/Klavika-Bold.otf#iefix') format('embedded-opentype'),
		url('../fonts/Klavika-Bold.otf') format('woff'),
		url('../fonts/Klavika-Bold.otf') format('truetype'),
		url('../fonts/Klavika-Bold.otf.otf#Klavika-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face{
	font-family: 'Klavika';
	src: url('../fonts/Klavika-Light.otf');
	src: url('../fonts/Klavika-Light.otf#iefix') format('embedded-opentype'),
		url('../fonts/Klavika-Light.otf') format('woff'),
		url('../fonts/Klavika-Light.otf') format('truetype'),
		url('../fonts/Klavika-Light.otf.otf#Klavika-Light') format('svg');
	font-weight: lighter;
	font-style: normal;
}

/* General */

*{
  border: 0 none;
  margin: 0;
  outline: 0 none;
  padding: 0;
  text-rendering: optimizelegibility;
}

.text-center{
	text-align: center;
	margin-top: 40px;
	margin-bottom: 40px;
	font-size: 36px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
}

p{
	line-height: 20px;
}

/* Headings */

h1,h2,h3,h4,h5{
	color: #478AF8;
	font-weight: bold;
}

/* Header */

.header{
  width: 100%;
  min-height: 80px;
  background: #fff;
}
  .header .subheader{
    width: 100%;
    height: 100px;
		margin-top: 40px;
  }
		.header .subheader .search{
			float: right;
			width:251px;
			height: 66px;
			background: #CACACA;
		}
  .header .menu{
    width: 100%;
    height: 80px;
		overflow: hidden;
  }
		.header .menu ul{
			list-style: none;
			position: relative;
			top: 25px;
			left:50px;
		}
		.header .menu ul li{
			display: inline-block;
		}
		.header .menu ul li a{
			text-decoration: none;
			text-transform: uppercase;
			margin-right: 20px;
			font-size: 24px;
			color: #76A7F1;
			letter-spacing: 1px;
			font-weight: lighter;
		}

/* Grid  */

.container{
	width: 1200px;
	margin: auto;
}
.col-1200{
	width: 1200px;
	min-height: 400px;
	overflow: hidden;
}
.col-800{
	width: 799px;
	min-height: 400px;
	float: left;
	overflow: hidden;
}
.col-600{
	width: 600px;
	min-height: 400px;
	float: left;
	overflow: hidden;
}
.col-400{
	width: 399px;
	min-height: 400px;
	float: left;
	overflow: hidden;
}

/* Slider */

.slider-wrap{
  width:100%;
  height: auto;
}
  .slider-wrap .slider{
    background:#ccc;
    width:100%;
    height:455px;
  }
  .slider-wrap .description{
    width: 100%;
    min-height: 390px;
    background: #4485F5;
  }

/* Wrap-general */

.wrap-general{
  width: 100%;
  min-height: 500px;
	overflow: hidden;
}

/* Sector */

.article{
	width: 100%;
	min-height: 100px;
	margin: 20px 0 20px 0;
	overflow: hidden;
	padding: 5px 0 5px 5px;
}
.dash{
	border-right: 1px dashed #F59231;
}
.customers{
	width: 100%;
	overflow: hidden;
}
	.customers .customer{
		width: 100%;
		min-height: 100px;
		margin: 0 0 30px 50px;
		overflow: hidden;
	}
  .customers .customer:first-child {
		margin-top: 110px;
	}
	.customers .customer ul{
		color: #478AF8;
		margin-left: 20px;
	}

.last-article{
	width: 90%;
	min-height: 300px;
	background: #ccc;
	margin: 30px 0 30px 0;
	overflow: hidden;
}


/* Contacto */









/* Map */

.wrap-map{
  background: #4485F5;
  width: 100%;
  height:660px;
}

/* Contact wrap */

.wrap-contact{
  width: 100%;
  height: 835px;
}

/* Footer */

.footer{
	width: 100%;
	height: 140px;
	background: #4485F5;
}
