/* Connectionmexicoglobal Website */

html,
body {
	background: #fff;
	font-style: normal;
  font-family: 'Klavika';
}

/* Fonts */

@font-face {
   font-family: 'Klavika';
   src: url('../fonts/Klavika-Regular.otf');
   src: url('../fonts/Klavika-Regular.otf#iefix') format('embedded-opentype'),
     url('../fonts/Klavika-Regular.otf') format('woff'),
     url('../fonts/Klavika-Regular.otf') format('truetype'),
     url('../fonts/Klavika-Regular.otf#Klavika-Regular') format('svg');
   font-weight: normal;
   font-style: normal;
}

@font-face{
	font-family: 'Klavika';
	src: url('../fonts/Klavika-Bold.otf');
	src: url('../fonts/Klavika-Bold.otf#iefix') format('embedded-opentype'),
		url('../fonts/Klavika-Bold.otf') format('woff'),
		url('../fonts/Klavika-Bold.otf') format('truetype'),
		url('../fonts/Klavika-Bold.otf.otf#Klavika-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face{
	font-family: 'Klavika';
	src: url('../fonts/Klavika-Light.otf');
	src: url('../fonts/Klavika-Light.otf#iefix') format('embedded-opentype'),
		url('../fonts/Klavika-Light.otf') format('woff'),
		url('../fonts/Klavika-Light.otf') format('truetype'),
		url('../fonts/Klavika-Light.otf.otf#Klavika-Light') format('svg');
	font-weight: lighter;
	font-style: normal;
}

/* General */

*{
  border: 0 none;
  margin: 0;
  outline: 0 none;
  padding: 0;
  text-rendering: optimizelegibility;
}

.text-center{
	text-align: center;
	margin-top: 40px;
	margin-bottom: 40px;
	font-size: 36px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
}

p{
	line-height: 20px;
}

address{
	margin-top: 20px;
	margin-bottom: 30px;
	color: #478AF8;
}
.circle{
	width: 100px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
	.circle .ball-blue{
		width: 50px;
		height: 50px;
		border-radius: 250px;
		background: #4485F5;
		position: relative;
		top: 25px;
		z-index: 1;
	}
	.circle .ball-white{
		width: 50px;
		height: 50px;
		border-radius: 250px;
		background: #fff;
		position: relative;
		top: -25px;
		z-index: 1;
	}

.well{
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#e8e8e8), to(#f5f5f5));
  background-image: -webkit-linear-gradient(top, #e8e8e8, 0%, #f5f5f5, 100%);
  background-image: -moz-linear-gradient(top, #e8e8e8 0%, #f5f5f5 100%);
  background-image: linear-gradient(to bottom, #e8e8e8 0%, #f5f5f5 100%);
  background-repeat: repeat-x;
  border-color: #dcdcdc;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe8e8e8', endColorstr='#fff5f5f5', GradientType=0);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(255, 255, 255, 0.1);
          box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(255, 255, 255, 0.1);
}

.well2{
	background-image: -webkit-gradient(linear, left 0%, left 100%, from(#e8e8e8), to(#f5f5f5));
	background-image: -webkit-linear-gradient(top, #e8e8e8, 0%, #f5f5f5, 100%);
	background-image: -moz-linear-gradient(top, #e8e8e8 0%, #f5f5f5 100%);
	background-image: linear-gradient(to bottom, #e8e8e8 0%, #f5f5f5 100%);
	background-repeat: repeat-x;
	border-color: #333;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe8e8e8', endColorstr='#fff5f5f5', GradientType=0);
	-webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(255, 255, 255, 0.1);
					box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(255, 255, 255, 0.1);
}


/* Headings */

h1,h2,h3,h4,h5{
	color: #478AF8;
	font-weight: bold;
}

/* Header */

.header{
  width: 100%;
  min-height: 80px;
  background: #fff;
}
  .header .subheader{
    width: 100%;
    height: 100px;
		margin-top: 40px;
  }
		.header .subheader .search{
			float: right;
			width:251px;
			height: 66px;
			background: #CACACA;
		}
  .header .menu{
    width: 100%;
    height: 80px;
		overflow: hidden;
  }
		.header .menu ul{
			list-style: none;
			position: relative;
			top: 25px;
			left:50px;
		}
		.header .menu ul li{
			display: inline-block;
		}
		.header .menu ul li a{
			text-decoration: none;
			text-transform: uppercase;
			margin-right: 20px;
			font-size: 24px;
			color: #76A7F1;
			letter-spacing: 1px;
			font-weight: lighter;
		}

/* Grid  */

.container{
	width: 1200px;
	margin: auto;
}
.col-1200{
	width: 1200px;
	min-height: 400px;
	overflow: hidden;
}
.col-800{
	width: 800px;
	min-height: 400px;
	float: left;
	overflow: hidden;
}
.col-600{
	width: 600px;
	float: left;
	overflow: hidden;
}
.col-400{
	width: 399px;
	float: left;
	overflow: hidden;
}
.col-200{
	width: 200px;
	float: left;
	overflow: hidden;
}
.col-100{
	width: 100px;
	float: left;
	overflow: hidden;
}

/* Slider */

.slider-wrap{
  width:100%;
  height: auto;
}
  .slider-wrap .slider{
    background:#ccc;
    width:100%;
    height:455px;
  }
  .slider-wrap .description{
    width: 100%;
    min-height: 120px;
    background: #4485F5;
		padding: 50px 0 50px 0;
  }
		.slider-wrap .description h1{
			color: #fff;
		}
		.slider-wrap .description .details{
			color: #fff;
			margin-top: 5px;
		}
		.slider-wrap .description p{
			color: #fff;
			margin-top: 10px;
			margin-bottom: 10px;
		}
		.slider-wrap .read{
			color: #fff;
			font-weight: bold;
			float: right;
			text-transform: uppercase;
			text-decoration: none;
			border-bottom: 4px solid #fff;
		}

/* Wrap-general */

.wrap-general{
  width: 100%;
  min-height: 500px;
	overflow: hidden;
}

/* Sector */

.article{
	width: 100%;
	min-height: 100px;
	margin: 20px 0 20px 0;
	overflow: hidden;
	padding: 5px 0 5px 5px;
}
.dash{
	border-right: 1px dashed #F59231;
}
.customers{
	width: 100%;
	overflow: hidden;
}
	.customers .customer{
		width: 100%;
		min-height: 100px;
		margin: 0 0 30px 50px;
		overflow: hidden;
	}
  .customers .customer:first-child{
		margin-top: 110px;
	}
	.customers .customer ul{
		color: #478AF8;
		margin-left: 20px;
	}

.last-article{
	width: 90%;
	min-height: 300px;
	margin: 30px 0 30px 0;
	overflow: hidden;
}
	.last-article .preview{
		width: 100%;
		height: auto;
		max-width: 100%;
	}
	.last-article .details{
		color: #478AF8;
		font-weight: bold;
	}
	.last-article .overview{
		width: 100%;
		min-height: 120px;
		margin-top: 30px;
		overflow: hidden;
	}
	.last-article .read{
		color: #478AF8;
		font-weight: bold;
		float: right;
		text-transform: uppercase;
		text-decoration: none;
		border-bottom: 4px solid #4988F1;
	}

/* Contacto */

.contact{
	width: 100%;
	min-height: 350px;
	margin: 20px 0 10px 0;
	overflow: hidden;
}
	.contact label{
		font-size: 21px;
		color: #478AF8;
		line-height: 40px;
		margin-bottom: 10px;
	}

	.contact .lg-input{
		border-radius: 8px;
		background: #e7e7e7;
		width: 95%;
		height: 50px;
		color: #fff;
		font-weight: bold;
		font-size: 18px;
	}
	.contact .md-input{
		border-radius: 8px;
		background: #e7e7e7;
		width: 85%;
		height: 50px;
		color: #fff;
		font-weight: bold;
		font-size: 18px;
		padding-left: 20px;
		overflow: hidden;
	}
	.contact textarea{
		border-radius: 12px;
		background: #e7e7e7;
		width: 95%;
		height: 300px;
		color: #fff;
		font-weight: bold;
		font-size: 21px;
		margin-bottom: 10px;
	}
	.contact .btn-send{
		width: 200px;
		height: 50px;
		border-radius: 12px;
		background: #e7e7e7;
		color: #478AF8;
		font-size: 21px;
	}

/* Map */

.wrap-map{
  background: #4485F5;
  width: 100%;
  height:660px;
}

/* Footer */

.footer{
	width: 100%;
	height: 140px;
	background: #4485F5;
	overflow: hidden;
}
	.footer .copyright{
		position: relative;
		top: 55px;
		color: #fff;
		float: left;
	}
	.footer .tos{
		position: relative;
		top: 55px;
		color: #fff;
		float: right;
	}
